<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<taglib uri="http://java.sun.com/jstl/core" prefix="c"/>
<head>
    <meta charset="UTF-8">
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <!-- 使用Edge最新的浏览器的渲染方式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>学生信息修改</title>

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- 走两级 -->
    <script th:src="@{/assets/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
    <script th:src="@{/assets/layui.js}"></script>

</head>
<body>
<form class="layui-form layuimini-form"  action="" style="margin-left: 30px" lay-filter="editForm">
  <input type="hidden" name="id"  value="2" class="layui-input">

  <div class="layui-form-item">
    <label class="layui-form-label required">产品名</label>
    <div class="layui-input-block">
      <input type="text" name="name" lay-verify="required" lay-reqtext="产品名不能为空" placeholder="请输入产品名" value="" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label required">产品价格</label>
    <div class="layui-input-block">
      <input type="number" name="price" lay-verify="required" lay-reqtext="价格不能为空" placeholder="请输入价格" value="" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label required">产品信息</label>
    <div class="layui-input-block">
      <input type="text" name="infor" lay-verify="required" lay-reqtext="产品信息不能为空" placeholder="请输入产品信息" value="" class="layui-input">
    </div>
  </div>

  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>上传头像</legend>
  </fieldset>

  <div class="layui-form-item">
    <label class="layui-form-label" for="fileName">文件名</label>
    <div class="layui-input-inline">
      <input type="text" id="fileName" name="img" placeholder="文件名" value="" class="layui-input" readonly>
    </div>
    <div class="layui-form-inline">
      <button type="button"  class="layui-btn" name="uploadFile" id="upload"><i class="layui-icon"></i>上传头像</button>
    </div>
  </div>

  <!-- 折叠面板 -->
  <div class="layui-form-item layui-collapse" style="width: 400px; margin-left: 55px">
    <div class="layui-colla-item">
      <h2 class="layui-colla-title">展开图片</h2>
      <div class="layui-colla-content layui-show">
        <img class="layui-upload-img" id="pre_img" style="height: 100%; width: 100%">
      </div>
    </div>
  </div>

  <hr class="layui-border-black">

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
    </div>
  </div>
</form>

<script th:src="@{/assets/layui.js}"></script>
<script>
  layui.use(['form'], function () {
    var form = layui.form,
        layer = layui.layer,
        $ = layui.$;

    //监听提交
    form.on('submit(saveBtn)', function (data) {
      console.log(data)
      $.ajax({
        url:'/product/modify',
        type:'PUT',
        data : $(data.form).serialize(),
        success:function (response) {
          if(response.code === 0){
            layer.msg("修改成功", {icon: 6});
            setTimeout(function(){
              var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
              parent.layer.close(index);//关闭弹出层
              window.parent.location.reload();
              layer.closeAll();//关闭所有的弹出层
            }, 1000);
          } else{
            layer.msg("修改失败", {icon: 5});
          }
        }
      })
      return false;
    });
  });

  layui.use('upload', function(){
    var upload = layui.upload;
    //指定允许上传的文件类型
    upload.render({
      elem: '#upload'
      ,url: '/product/uploadHead' //此处配置你自己的上传接口即可
      ,accept: 'file' //普通文件
      ,field: 'uploadFile'
      ,exts: 'jpg|png'
      ,bindAction: '#testListAction' //指向一个按钮触发上传
      ,before: function(obj){
        obj.preview(function(index, file, result){
          $('#pre_img').attr('src', result);
          console.log(file)
          $('#fileName').val(file.name);  //展示文件名
        });
      }
      ,done: function(res) {
        //上传成功
        layer.msg('上传成功', {
          icon : 6,
          offset : "auto",
          time : 2000
        });//提示框
      },error: function(res){
        //上传成功
        layer.msg('上传成功', {
          icon : 6,
          offset : "auto",
          time : 2000
        });//提示框
      }
    });
  });
</script>

<script>
  layui.use(['form', 'layedit', 'laydate'], function () {
    var form = layui.form
        , layer = layui.layer
        , layedit = layui.layedit
        , laydate = layui.laydate;

    //日期
    laydate.render({
      elem: '#date' //指定元素
      ,type: 'datetime'
      ,format: 'yyyy-MM-dd HH:mm:ss',
      value: new Date()
    });
    laydate.render({
      elem: '#date1'
    });

    //创建一个编辑器
    var editIndex = layedit.build('LAY_demo_editor');

    //自定义验证规则
    form.verify({
      title: function (value) {
        if (value.length < 5) {
          return '标题至少得5个字符啊';
        }
      }
      , pass: [
        /^[\S]{6,12}$/
        , '密码必须6到12位，且不能出现空格'
      ]
      , content: function (value) {
        layedit.sync(editIndex);
      }
    });

    //监听指定开关
    form.on('switch(switchTest)', function (data) {
      layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
        offset: '6px'
      });
      layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
    });

    //监听提交
    form.on('submit(demo1)', function (data) {
      layer.alert(JSON.stringify(data.field), {
        title: '最终的提交信息'
      })
      return false;
    });

    var value = [(${product})];

    //表单初始赋值
    form.val('editForm',
        value
    )

    //获取表单区域所有值
    var data1 = form.val("editForm");
    console.log(value)

    form.render()
  });
</script>
</body>
</html>