<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>缺陷浏览</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script th:src="@{/assets/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/layuimini.css}">
    <link rel="stylesheet" th:href="@{/assets/css/public.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
</head>
<body>
<div class="layuimini-container">
  <div class="layuimini-main">

    <fieldset class="table-search-fieldset">
      <legend>搜索信息</legend>
      <div style="margin: 10px 10px 10px 10px">
        <form class="layui-form layui-form-pane" action="">
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">用户姓名</label>
              <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">用户职业</label>
              <div class="layui-input-inline">
                <input type="text" name="position" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
            </div>
          </div>
        </form>
      </div>
    </fieldset>

    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="add">
          <i class="layui-icon layui-icon-add-1"></i>
        </button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">
          <i class="layui-icon layui-icon-delete"></i>
        </button>
      </div>
    </script>

    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter" style="height: 2000px"></table>

    <script type="text/html" id="currentTableBar">
      <button type="button" class="layui-btn layui-btn-sm" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">
        <i class="layui-icon layui-icon-delete"></i>
      </button>
    </script>

  </div>
</div>

<script th:src="@{/assets/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/layui.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
<script>
  layui.use(['form', 'table'], function () {
    var $ = layui.jquery,
        form = layui.form,
        table = layui.table;

    table.render({
      elem: '#currentTableId',
      url: '/staff/list',
      toolbar: '#toolbarDemo',
      even: true,
      defaultToolbar: [
            'filter', 'exports', 'print', {
          title: '提示',
          layEvent: 'LAYTABLE_TIPS',
          icon: 'layui-icon-tips'
        }
      ],
      cols: [
        [
          {type: "checkbox", width: 50},
          {field: 'id', width: 80, title: 'ID', sort: true},
          {field: 'name', width: 80, title: '姓名'},
          {field: 'sex', width: 80, title: '性别', sort: true},
          {field: 'age', width: 80, title: '年龄'},
          {field: 'phone', title: '电话', minWidth: 80},
          {field: 'position', minWidth: 80, title: '职位', sort: true},
          {field: 'indate', minWidth: 80, title: '入职日期', sort: true, templet: function (d) {
              return layui.util.toDateString(d.indate, 'yyyy-MM-dd');
            }},
          {field: 'salary', minWidth: 80, title: '薪资'},
          {field: 'email', minWidth: 80, title: '邮箱'},
          {title: '操作', minWidth: 80, toolbar: '#currentTableBar', align: "center"}
        ]
      ],
      limits: [5,10, 15, 20, 25, 50, 100],
      limit: 10,
      page: true,
      skin: 'line'
    });

    // 监听搜索操作
    form.on('submit(data-search-btn)', function (data) {
      layer.msg(JSON.stringify(data.field));//表格数据序列化
      var formData = data.field;
      console.log(formData);
      var name = formData.name,
          position = formData.position;
      //数据表格重载
      table.reload('currentTableId', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        , where: {//这里传参  向后台
          name: name,
          position: position
        }
        , url: '/staff/search'//后台做模糊搜索接口路径
        , method: 'post'
      });
      return false;//false：阻止表单跳转  true：表单跳转
    });

    /**
     * toolbar监听事件
     */
    table.on('toolbar(currentTableFilter)', function (obj) {
      if (obj.event === 'add') {  // 监听添加操作
        var index = layer.open({
          title: '添加用户',
          type: 2,
          shade: 0.2,
          maxmin:true,
          shadeClose: true,
          area: ['100%', '100%'],
          content: '/staff/toAdd',
        });
        $(window).on("resize", function () {
          layer.full(index);
        });
      } else if (obj.event === 'delete') {  // 监听删除操作
        var checkStatus = table.checkStatus('currentTableId')
            , data = checkStatus.data;
        layer.alert(JSON.stringify(data));

        var ids = "";
        for (var x in data) {
          ids += data[x].id + ",";
        }

        layer.confirm('真的删除所选行么', function (index) {
          $.ajax({
            url:'/staff/deleteSelected',
            type:'GET',
            data:{
              id: ids
            },
            success:
                function (response) {
                  if(response.msg == "1"){
                    layer.msg("删除成功", {icon: 6});
                    setTimeout(function(){
                      layui.table.reload('currentTableId'); // 重新加载表格
                    }, 1000);
                  } else{
                    layer.msg("删除失败", {icon: 5});
                  }
                }
          })
        });
      }
      //提示事件 LAYTABLE_TIPS
      else if (obj.event === 'LAYTABLE_TIPS') {  // 监听添加操作
        //示范一个公告层
        layer.open({
          type: 1
          ,title: false //不显示标题栏
          ,closeBtn: false
          ,area: '300px;'
          ,shade: 0.8
          ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
          ,btn: ['跳转测试', '关闭']
          ,btnAlign: 'c'
          ,moveType: 1 //拖拽模式，0或者1
          ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">author: VOF</div>'
          ,success: function(layero){
            var btn = layero.find('.layui-layer-btn');
            btn.find('.layui-layer-btn0').attr({
              href: '${pageContext.request.contextPath}/pages/100.jsp'
              ,target: '_blank'
            });
          }
        });
        $(window).on("resize", function () {
          layer.full(index);
        });
      }
    });

    //监听表格复选框选择
    table.on('checkbox(currentTableFilter)', function (obj) {
      console.log(obj)
    });

    table.on('tool(currentTableFilter)', function (obj) {
      var data = obj.data;
      console.log(data)
      if (obj.event === 'edit') {
        form.render()
        var index = layer.open({
          title: '编辑用户',
          type: 2,
          shade: 0.2,
          maxmin: true,
          shadeClose: true,
          area: ['100%', '100%'],
          content: '/staff/loadData/' + data.id,
          success: function (obj) {
            var data = obj.data;
          }
        })
        $(window).on("resize", function () {
          layer.full(index);
        });
        return false;
      }
      else if (obj.event === 'delete') {
        layer.confirm('真的删除行么', function (index) {
          $.ajax({
            url:'/staff/delete',
            type:'GET',
            data:{
              id: data.id
            },
            success:
                function (response) {
                  if(response.msg == "1"){
                    layer.msg("删除成功", {icon: 6});
                    setTimeout(function(){
                      layui.table.reload('currentTableId'); // 重新加载表格
                    }, 1000);
                  } else{
                    layer.msg("删除失败", {icon: 5});
                  }
                }
          })
          obj.del();
        });
      }
    });

  });
</script>
</body>

</html>