<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <!-- 使用Edge最新的浏览器的渲染方式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script th:src="@{/assets/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/layuimini.css}">
    <link rel="stylesheet" th:href="@{/assets/css/public.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">

    <script th:src="@{/assets/js/jquery-2.1.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/echarts.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/layui.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
  <title>上传Excel</title>
</head>
<body style="height: 1500px">
<div class="container" style="width: 100%">
  <div class="layui-card" style="text-align: center;">
      <h3><div class="layui-card-header layui-bg-cyan">单井产量分析趋势图</div></h3>
  </div>
  <form class="layui-form layuimini-form"  action="" style="margin-left: 30px" lay-filter="linechart">
    <table class="layui-table">
<!--    <colgroup>-->
<!--      <col width="10%">-->
<!--      <col width="20%">-->
<!--      <col width="20%">-->
<!--      <col width="20%">-->
<!--      <col width="20%">-->
<!--      <col width="10%">-->
<!--    </colgroup>-->
    <thead>
    <tr>
      <th style="text-align: center; margin: 0 auto">单井名称</th>
      <th style="text-align: center; margin: 0 auto">时间划分</th>
      <th style="text-align: center; margin: 0 auto">查询类别</th>
      <th style="text-align: center; margin: 0 auto">年度</th>
      <th style="text-align: center; margin: 0 auto">年度</th>
      <th style="text-align: center; margin: 0 auto">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
          <div class="layui-form-item" style="margin-top: 10px">
            <div class="layui-input-block" style="text-align: center; margin: 0 auto">
              <select name="name" lay-verify="required">
                <option th:each="well:${wells}"
                        th:value="${well.name}" th:text="${well.name}">
                </option>
              </select>
            </div>
          </div>
        </td>

        <td>
          <div class="layui-form-item">
            <div class="layui-input-block"  style="text-align: center; margin: 0 auto">
              <input class="form-inline" type="radio" name="year_choose" value="月" title="月" checked>
              <input class="form-inline" type="radio" name="year_choose" value="年" title="年">
            </div>
          </div>
        </td>

        <td>
          <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center; margin: 0 auto">
              <input type="radio" name="type" value="产油" title="产油" checked>
              <input type="radio" name="type" value="产水" title="产水">
              <input type="radio" name="type" value="产气" title="产气">
              <input type="radio" name="type" value="产液" title="产液">
<!--              <input type="radio" name="type" value="含水" title="含水">-->
<!--              <input type="radio" name="type" value="总计" title="总计">-->
            </div>
          </div>
        </td>

        <td>
          <input type="text" id="date" name="startTime" class="layui-input">
        </td>

        <td>
          <input type="text" id="date2" name="endTime" class="layui-input">
        </td>

        <td>
          <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-submit lay-filter="getChart">获取</button>
        </td>
    </tr>
    </tbody>
  </table>
  </form>


  <div class="layui-row layui-col-space14" style="margin-top: 40px;">
    <div class="layui-col-md6 layui-col-md-offset1" id="third" style="width:90%;height: 600px;"></div>
  </div>
</div>


<script>
  var chartDom = document.getElementById('third');
  var mychart = echarts.init(chartDom);
  option = {
    title: {
      text: '单井产量趋势图'
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
      data: ['水', '液', '气', '油', '含水率', '总产量']
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    toolbox: {
      feature: {
        saveAsImage: {}
      }
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10' ,'11', '12']
    },
    yAxis: {
      type: 'value',
      scale: true,
      min: 0,
      max: 120,
      interval: 5
    },
    series: [{
      data: [],
      type: 'line'
    }]
  };
  option && mychart.setOption(option);
</script>

<script>
  layui.use(['form'], function () {
    var form = layui.form,
        layer = layui.layer,
        laydate = layui.laydate,
        $ = layui.$;

    //日期
    laydate.render({
      elem: '#date' //指定元素
      ,type: 'datetime'
      ,format: 'yyyy-MM-dd HH:mm:ss',
      value: new Date()
    });
    laydate.render({
      elem: '#date1'
    });

    //日期
    laydate.render({
      elem: '#date2' //指定元素
      ,type: 'datetime'
      ,format: 'yyyy-MM-dd HH:mm:ss',
      value: new Date()
    });
    laydate.render({
      elem: '#date2'
    });

    form.render(); //更新全部
    form.render('select'); //刷新select选择框渲染


    //日期
    laydate.render({
      elem: '#date' //指定元素
      ,type: 'datetime'
      ,format: 'yyyy-MM-dd HH:mm:ss',
      value: new Date()
    });
    laydate.render({
      elem: '#date1'
    });

    //日期
    laydate.render({
      elem: '#date2' //指定元素
      ,type: 'datetime'
      ,format: 'yyyy-MM-dd HH:mm:ss',
      value: new Date()
    });
    laydate.render({
      elem: '#date2'
    });

    //监听提交
    form.on('submit(getChart)', function (data) {
      console.log(data.field)
      $.ajax({
        url:'/yield/showAnalyse',
        type:'post',
        data :{
          name: data.field.name,
          year_choose: data.field.year_choose,
          type: data.field.type,
          startTime: data.field.startTime,
          endTime: data.field.endTime,
        },
        success:function (response) {
          layer.msg("获取成功", {icon: 6});
          setTimeout(1000);
          console.log(response)

          var re_maps = new Map(Object.entries(response));
          let datas = [];    // 新增一个数组变量
          var xais = response.xais;
          for (var i = 0; i < xais.length; i++) {
            var item = xais[i];
            for (var [key, value] of re_maps) {
              if(key === item){
                //console.log(key + ": " + value);
                datas.push({
                  name: item,
                  type: 'line',
                  data: value
                });    // 向数组中添加数据项
              }
            }
            // 在这里你可以对item进行其他操作，比如将它输出到控制台
            console.log(item);
          }
          let yaxis = ({
            type: 'value',
            scale: true,
            min: 0,
            max: response.max + 10,
            interval: 5
          });
          console.log(datas);

          option.series = datas;

          let xaxis = (
              {
                type: 'category',
                boundaryGap: false,
                data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10' ,'11', '12']
              }
          )
          option.xAxis = xaxis;
          option.yAxis = yaxis;
          console.log(option);

          // 重置
          mychart.clear();
          // 重新渲染
          mychart.setOption(option);
        }
      })
      return false;
    });
  });

</script>

</body>
</html>